NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/find-me-something
JWT_PRIVATE_KEY_PATH=./keys/jwt-private.pem
JWT_PUBLIC_KEY_PATH=./keys/jwt-public.pem
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000
